Makefile
Makefile.in
OIS.pc
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
demos/.deps/
demos/Makefile
demos/Makefile.in
depcomp
includes/Makefile
includes/Makefile.in
includes/config.h
includes/config.h.in
includes/stamp-h1
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
